.input-container{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}
.input-box{
    margin: 20px;
    width: 30vw;
    height: 8vh;
    padding: 10px;
    font-size: 1.5rem;
}
.search-button{
    height: 8vh;
    width: 4vw;
    padding: 10px;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid grey;
}

.search-button:hover{
    cursor: pointer;
    background-color: rgb(217, 217, 217);
}

.chart-container{
    border: 1px solid black;
    padding: 0vw;
    /* margin: 5vw; */
    margin-top: 0;
    height: 70vh;
}
/* .twrapper{
    border: 1px solid blue;
    height: 100%;
    width: 100%;
}

.tcomponent{
    border: 1px solid red;
    height: 100%;
    width: 100%;
} */

.mermaid-diagram{
    border: 1px solid black;
}