.input-container{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    
}
.input-box{
    margin: 20px;
    width: 30vw;
    height: 10vh;
    padding: 20px;
    font-size: 1.5rem;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 7px;
}
.search-button{
    height: 10vh;
    width: 7vw;
    padding: 10px;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 7px;
    border: 1px solid grey;
}

.search-button:hover{
    cursor: pointer;
    background-color: rgb(213, 226, 243);
}

.chart-container{
    border: 1px solid black;
    padding: 0vw;
    margin-top: 0;
    height: 62vh;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}

.title-container{
    text-align: center;
    padding: 3vh;
    padding-bottom: 5vh;
    /* height: 10vh; */
    font-size: 1rem;
    /* border: 1px solid black; */
}

.title{
    text-transform: capitalize;
}
.chart-container:active {
    cursor: grabbing; /* Change to grabbing while dragging */
  }

@media only screen and (max-width: 950px) {
    .input-container{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .search-button{
        width: 20vw;
    }
  }
  @media only screen and (max-width: 1110px){
    .input-box{
        width: 60vw;
    }
  }